.header {
  height: 15%;
}
.title {
  text-align: center;
}
.nav {
  height: 15%;
}
.progress {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: stretch;
}
.progress * {
  margin: 0 auto;
}
.progress__star {
  display: flex;
}
.grid-4X4 {
  margin: 0 auto;
  grid-gap: 10px;
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 5px 5px 6px rgb(49, 48, 48);
}
.grid-4X4 * {
  position: relative;
  cursor: pointer;
  box-shadow: 3px 3px 4px rgb(49, 48, 48);
  border-radius: 5px;
}
.bg {
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.end {
  color: aliceblue;
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  padding: 200px;
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  border-radius: 15px;
  background-color: rgba(134, 52, 52, 0.95);
  border: 1px solid red;
}
.end-btn {
  height: 50px;
  width: 50px;
}
