* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}
.middle {
  margin: 0 auto;
}
.container {
  width: 40%;
  height: 90%;
  background-color: rgba(104, 89, 89, 0.3);
  border-radius: 25px;
}
.btn {
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  color: whitesmoke;
  background-color: rgba(211, 6, 6, 0.3);
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 65%;
  }
}
