* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #startScreen{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .title{
    /* transform: scale(0.45); */
    width: 100%;
    height:auto;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  button{
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    /* transform: scale(0.45); */
    position: relative;
  }




  #memory-game {
    width: 80%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    /* outline: black 3px solid; */
    display: none;
  }
  #score-panel{
    display: flex;
    margin: 0;
    display: none;
  }

  #timer{
    display: inline;
    align-content: start;
    padding-right: 700px;
    padding-left: 10px;
  }
  #count{
    display: inline;
    align-content: flex-end;  
    padding-left: 10px;

  }

  #container{
    margin: auto;
    /* margin-top: 100px; */
    width: 892px;
    height: 535px;
    background-color: #ACA340;


  }
  #gameEnd{
    display: none;
  }


  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .7s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }
  #id{
  position: absolute;
  align-items: flex-end;
  }
  .hide{
    display:none;
 }
 #gameEnd{
   width: 100%;
   height: 100%;
   display: none;
   flex-direction: column;
   align-items: center;
   position: relative;
 }
 #result{
  width: 65%;
  height:auto;
 }
 button#leave{
   position: absolute;
   bottom: 30px;
 }