* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: black;
}
p {
    font-family: monospace;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #6CFF60;
    text-shadow: 0px 0px 10px #6CFF60;
    word-wrap: break-word;
}
p#data {
    /* border: 1px solid wheat; */
    position: relative;
    margin-right: 0px !important;
    margin-bottom: 0;
}
p#data::after {
    content: "";
    position: absolute;
    height: 16px;
    width: 8px;
    color: #6CFF60;
    margin-left: 4px;
    padding: 1px;
    animation: blink 1000ms infinite ease;
}

@keyframes blink {
    0% {
      opacity: 1;
      background-color: #6CFF60;
    }
    50% {
      opacity: 1;
        background-color: #6CFF60;
    }
    100% {
      opacity: 1;
        background-color: #6CFF60;
    }
}

div#container {
    display: grid;
    padding: 38px 40px;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 160px calc(100vh - 436px);
    row-gap: 40px;
    column-gap: 60px;
}
section#section-a {
    grid-row: 1 / 4;
    grid-column: 1 / 2;

    position: relative;
    padding: 10px;
    background-color: #000;
}
section#section-b {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000; */
}
section#section-b p {
    margin: 0;
}
section#section-c {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding-left: 20px;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
  
    background: rgba(11, 18, 10, 0.6);
    border: 2px solid #5A9253;
}
section#section-d {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    padding: 20px 20px;
    background-color: #000;
}


.hack-window {
    position: relative;
    border: 2px solid #5A9253;
    overflow: hidden;
    z-index: 2;
    /* border-radius: 2px; */
}
span.hack-window-top {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 0 4px;
    width: 100%;
    height: 16px;
    background-color: #2f982f;
    z-index: 3;
    /* border-bottom: 0.8px solid #6CFF60; */
}

img.icon-small {
    position: relative;
    top: 0;
    width: 10px;
    height: 10px;
}
img.perspective {
    position: absolute;
    width: 100%;
    bottom: -40px;
    opacity: 50%;
}

div.radar-box {
    position: relative;
    width: 100%;
    top: 0;
}
.radar {
    background: -webkit-radial-gradient(center, rgba(108, 255, 96, 0.3) 0%, rgba(108, 255, 96, 0) 75%), -webkit-repeating-radial-gradient(rgba(108, 255, 96, 0) 5.8%, rgba(108, 255, 96, 0) 18%, rgba(108, 255, 96, 1) 18.6%, rgba(108, 255, 96, 0) 18.9%), -webkit-linear-gradient(90deg, rgba(108, 255, 96, 0) 49.5%, rgba(108, 255, 96, 1) 50%, rgba(108, 255, 96, 1) 50%, rgba(108, 255, 96, 0) 50.2%), -webkit-linear-gradient(0deg, rgba(108, 255, 96, 0) 49.5%, rgba(108, 255, 96, 1) 50%, rgba(108, 255, 96, 1) 50%, rgba(108, 255, 96, 0) 50.2%);
    background: radial-gradient(center, rgba(108, 255, 96, 0.3) 0%, rgba(108, 255, 96, 0) 75%), repeating-radial-gradient(rgba(108, 255, 96, 0) 5.8%, rgba(108, 255, 96, 0) 18%, rgba(108, 255, 96, 1) 18.6%, rgba(108, 255, 96, 0) 18.9%), linear-gradient(90deg, rgba(108, 255, 96, 0) 49.5%, rgba(108, 255, 96, 1) 50%, rgba(108, 255, 96, 1) 50%, rgba(108, 255, 96, 0) 50.2%), linear-gradient(0deg, rgba(108, 255, 96, 0) 49.5%, rgba(108, 255, 96, 1) 50%, rgba(108, 255, 96, 1) 50%, rgba(108, 255, 96, 0) 50.2%);
    width: 120px;
    height: 120px;
    max-height: 75vh;
    max-width: 75vh;
    position: relative;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 50%;
    border: 1.6px solid #6CFF60;
    overflow: hidden;
}
.radar:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* animation: blips 5s infinite; */
    animation-timing-function: linear;
    animation-delay: 1.4s;
}
.radar:after {
    content: ' ';
    display: block;
    background-image: linear-gradient(44deg, rgba(0, 255, 51, 0) 50%, rgba(0, 255, 51, 1) 100%);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: radar-beam 5s infinite;
    animation-timing-function: linear;
    transform-origin: bottom right;
    border-radius: 100% 0 0 0;
}
@keyframes radar-beam {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
@keyframes blips {
    14% {
        background: radial-gradient(2vmin circle at 75% 70%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%);
   }
    14.0002% {
        background: radial-gradient(2vmin circle at 75% 70%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%);
   }
    25% {
        background: radial-gradient(2vmin circle at 75% 70%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 56% 86%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%);
   }
    26% {
        background: radial-gradient(2vmin circle at 75% 70%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 56% 86%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%);
        opacity: 1;
   }
    100% {
        background: radial-gradient(2vmin circle at 75% 70%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 63% 72%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%), radial-gradient(2vmin circle at 56% 86%, rgba(255, 255, 255, 1) 10%, rgba(108, 255, 96, 1) 30%, rgba(255, 255, 255, 0) 100%);
        opacity: 0;
   }
}

